aside{
    width: 30%;
    height: 90vh;
    background-color: #E8E8E8;
    padding: 15px 25px;
    overflow-y: scroll;

}
aside::-webkit-scrollbar{
    width: 10px;
    border-radius: 10px;
    background-color: #c4c4c4cc;
}

aside::-webkit-scrollbar-thumb{
    background-color: #77866d;
    border-radius: 10px;
}

.card {
    width: 100%;
    background-color: #ffff;
    border-radius: 5px;
    padding: 8px;
    margin-top: 20px;
    position: relative;
    overflow: hidden;
    transition: 0.3s ease-in-out;
}

.isOpen {
    height: 160px;
}

.card .content{
    width: 80%;
    display: block;
}

.card .content span{
    display: block;
    margin-top: 10px;
}

.card i{
    position: absolute;
    bottom: 12px;
    font-size: 40px;
    right: 20px;
    cursor: pointer;
}


