.modal,
.overlay {
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
}

.modal{
    z-index: 1;
}

.overlay {
    background: rgba(49, 49, 49, 0.8);
}

.modal-content-evento {
    position: absolute;
    top: 50%;
    left: 50%;
    min-height: 90vh;
    transform: translate(-50%, -50%);
    line-height: 1.4;
    background: #FFFFFF;
    padding: 14px 28px;
    border-radius: 3px;
    max-width: 900px;
    min-width: 500px;
}

.modal-content-evento h2{
    margin-bottom: 10px;
    text-align: center;
}


.close-modal-createEvent {
    position: absolute;
    top:-15px;
    right: -15px;
    padding: 5px;
    background-color: #97BF7A;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    font-size: 17px;
}
.close-modal-createEvent img{
    width: 20px;
}
.formGroup{
    display: flex;
    align-items: center;
}

.form-criar-evento{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height:85vh;
}

.form-criar-evento label{
    display:flex;
}

.form-criar-evento .local{
    width: 20px;
    margin-left: 18px;
    margin-right: 17px;
} 

.form-criar-evento input {
    width: 80%;
    outline: none;
    height: 28px;
    border: none;
    border-radius: 5px;
    padding:0px 5px;
    background-color:#E0E0E0;
}

.form-criar-evento input:focus{
    border: 1px solid #97BF7A;
}

.form-criar-evento img{
    width: 35px;
    margin: 10px;
}

.btn-evento{
    padding: 10px 0;
    width: 220px;
    background-color: #97BF7A;
    color: rgb(0, 0, 0);
    border-radius: 5px;
    cursor: pointer;
    border: none;
    font-size: 17px;
    margin: 10px auto;
}

.btn-evento:hover{
    background-color: #000;
    color: #ffff;
}