nav{
    height: 10vh;
<<<<<<< HEAD
    background-color: #97BF7A;
=======
    background-color:#97BF7A;
>>>>>>> a9c3d75aab1850a543cd3744950bcefcad9422d2
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

nav h1{
<<<<<<< HEAD
    font-size: 2rem;
}

nav h1 i{
    font-size: 2.5rem;
=======
    font-size: 3rem;
}

nav h1 i{
    font-size: 3.3rem;
>>>>>>> a9c3d75aab1850a543cd3744950bcefcad9422d2
}

nav .notLog ul{
    list-style: none;
    display: flex;
}

nav .notLog li{
    margin-right: 20px;
}

<<<<<<< HEAD
nav .notLog #btnNav{
    background-color: #043412;
    color: rgb(243, 235, 235);
    padding: 10px 15px;
    border-radius: 5px;
    border: none;
    font-size: 15px;
    cursor: pointer;
}

nav .notLog #btnNav:hover{
    color: #043412;
=======
nav .notLog a{
    text-decoration: none;
    background-color:#043412;
    color: rgb(243, 235, 235);
    padding: 10px 50px;
    border-radius: 5px;
    font-size: 1.3rem;
}

nav .notLog a:hover{
    color: rgb(17, 17, 17);
>>>>>>> a9c3d75aab1850a543cd3744950bcefcad9422d2
    background-color: rgb(243, 235, 235);
}

nav .logged{
    display: none;
}