nav{
    height: 10vh;
    background-color: #97BF7A;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

nav h1{
    font-size: 2rem;
}

nav h1 i{
    font-size: 2.5rem;
}

nav .notLog ul{
    list-style: none;
    display: flex;
}

nav .notLog li{
    margin-right: 20px;
}

nav .notLog #btnNav{
    background-color: #043412;
    color: rgb(243, 235, 235);
    padding: 10px 15px;
    border-radius: 5px;
    border: none;
    font-size: 15px;
    cursor: pointer;
}

nav .notLog #btnNav:hover{
    color: #043412;
    background-color: rgb(243, 235, 235);
}

nav .logged{
    display: none;
}